<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tmdhoon.todolist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoList.Splash"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Lobby.DeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.MypageActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.EditActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Lobby.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>